---
const { message = "" } = Astro.props;
---

<create-func data-message={message}>
  <button
    type="button"
    class="btn btn-success me-4"
    data-bs-toggle="modal"
    data-bs-target="#createModal">Add Organizer</button
  >

  <!--begin::Create Modal-->
  <div
    class="modal fade"
    id="createModal"
    tabindex="-1"
    aria-labelledby="createModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="createModalLabel">Add Organizer</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!--begin::Form-->
          <form class="needs-validation" novalidate id="createform">
            <!--begin::Body-->
            <div class="card-body">
              <!--begin::Row-->
              <div class="row g-3">
                <!--begin::Col-->
                <div class="col-md-6">
                  <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend"
                      ><b>Name</b></span
                    >
                    <input
                      type="text"
                      class="form-control msg-name"
                      id="validationName"
                      placeholder={message.name}
                      aria-describedby="inputGroupPrepend"
                      required
                    />
                    <div class="invalid-feedback">
                      Please input a valid Name.
                    </div>
                  </div>
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-md-6">
                  <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend"
                      ><b>Email</b></span
                    >
                    <input
                      type="text"
                      class="form-control msg-email"
                      id="validationEmail"
                      placeholder={message.email}
                      aria-describedby="inputGroupPrepend"
                      required
                    />
                    <div class="invalid-feedback">
                      Please input a valid Email.
                    </div>
                  </div>
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-md-6">
                  <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend"
                      ><b>Contact</b></span
                    >
                    <input
                      type="text"
                      class="form-control msg-contact"
                      id="validationContact"
                      placeholder={message.contactNumber}
                      aria-describedby="inputGroupPrepend"
                      required
                    />
                    <div class="invalid-feedback">
                      Please input a valid contact number.
                    </div>
                  </div>
                </div>
                <!--end::Col-->
              </div>
              <!--end::Row-->
            </div>
            <!--end::Body-->
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal">Close</button
              >
              <button
                type="submit"
                class="btn btn-primary"
                data-bs-dismiss="modal">Save</button
              >
            </div>
          </form>
          <!--end::Form-->
          <!--begin::JavaScript-->
          <script is:inline>
            (() => {
              "use strict";

              const form = document.getElementById("createform");
              const alertBox = document.getElementById("alert");

              form.addEventListener("submit", async (event) => {
                event.preventDefault(); // Prevent the default form submission

                const formData = {
                  name: document.getElementById("validationName").value,
                  email: document.getElementById("validationEmail").value,
                  contactNumber:
                    document.getElementById("validationContact").value,
                  // createdAt: document.getElementById("startDate").value,
                };

                if (!form.checkValidity()) {
                  event.stopPropagation();
                } else {
                  try {
                    console.log(formData);
                    const data = await fetchFromApi(
                      apiUrlHelper.UsersAPI,
                      "POST",
                      formData
                    );
                    console.log(data); // Log the response data

                    // Show the alert
                    alertBox.classList.remove("d-none");

                    // Optionally hide the alert after a few seconds
                    setTimeout(() => {
                      alertBox.classList.add("d-none");
                      window.location.reload();
                    }, 3000);
                  } catch (error) {
                    console.error("Error submitting form:", error);
                  }
                }

                form.classList.add("was-validated");
              });
            })();
          </script>
          <!--end::JavaScript-->
        </div>
      </div>
    </div>
  </div>
  <!--end::Edit Modal-->
</create-func>

<script>
  class Createfunction extends HTMLElement {
    connectedCallback() {
      // Read the message from the data attribute.
      const message = this.dataset.message;
      const button = this.querySelector("button");
    }
  }

  customElements.define("create-func", Createfunction);
</script>
