---
const { message = ""} = Astro.props;
---

<delete-func data-message={message}>

    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmationModal">Delete</button>

    <!--begin::Edit Modal-->
    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Remove Organizer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="confirm-name"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!--end::Edit Modal-->
</delete-func>

<script>
    class Deletefunction extends HTMLElement {
      connectedCallback() {
        // Read the message from the data attribute.
        const message = JSON.parse(this.dataset.message);
        const button = this.querySelector('button');
        button.addEventListener('click', () => {
            const confirmationModal = document.getElementById('confirmationModal')
            const msgName = confirmationModal.querySelector('.confirm-name')

            msgName.textContent = `Are you sure you want to remove ${message.name}?`
        });
      }
    }

    customElements.define('delete-func', Deletefunction);
</script>