---
import { apiUrlHelper, fetchFromApi } from "../../../utils/api.config";
import Create from "@components/attendee/create.astro";
//npm install moment
import moment from 'moment';
//npx astro add vercel
//Enable astro for server-side rendering (SSR)
import { useEffect } from 'react';


const { message = "" } = Astro.props;
const path = "../../../dist";
let eventId = '';

useEffect(() => {
  // This will only run on the client side
  eventId = localStorage.getItem('eventId');
  console.log("Retrieved eventId:", eventId);
}, []); // Empty dependency array to run only once on mount

const events = await fetchFromApi(apiUrlHelper.EventsAPI + "/" + eventId, "GET");
const mainPage = "attendee";
const page = "main";
console.log("Retrieved eventId:", eventId); 
---

<get-func data-message={message}>
  <div class="app-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-4">
            <div class="card-header align-items-center">
              <h3 class="card-title" id="pageTitle">{eventId}</h3>
              <div class="card-tools">
                <Create message="" />
              </div>
            </div>
            <div class="card-body p-0">
              <table class="table table-striped" id="dataTable">
                <thead>
                  <tr>
                    <th class="col-1">#</th>
                    <th class="col-2">Name</th>
                    <th class="col-2">Email</th>
                    <th class="col-1">Contact</th>
                    <th class="col-1">Status</th>
                    <th class="col-2">Created At</th>
                    <th class="col-2">Updated At</th>          
                  </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div
        id="toastSuccess"
        class="toast toast-success"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        style="position: absolute; bottom: 20px; right: 20px;"
      >
        <div class="toast-header">
          <div class="spinner-border spinner-border-sm text-light me-2"></div>
          <strong class="me-auto">Add Attendee</strong>
          <small id="toastTime">value</small>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="toast"
            aria-label="Close"></button>
        </div>
      </div>
    </div>
  </div>

  <script></script>
</get-func>
