name: Scheduled OWASP ZAP baseline scan

on:
  schedule:
    # Runs every day At 01:00.
    - cron:  '0 1 * * *'

  workflow_dispatch:

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    name: Scan the webapplication
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: master
      - name: ZAP Scan on EventSpark Web
        uses: zaproxy/action-baseline@v0.13.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          docker_name: 'ghcr.io/zaproxy/zaproxy:stable'
          target: 'http://ecs-frontend-lb-735742951.ap-southeast-1.elb.amazonaws.com/'
          cmd_options: '-a'
